#$schema: 'https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/github-workflow.json'
name: publish

on:
  push:
    tags:
      - '*.*.*'

permissions:
  contents: write

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install poetry
        run: pip install poetry=="2.2.*"

      - name: Build
        run: |
          python -m scripts.build --zip
          poetry build

      - name: GH Release
        uses: docker://antonyurchenko/git-release:v5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: |
            dist/*
            webui.zip

      - name: Publish
        env:
          POETRY_PYPI_TOKEN_PYPI: ${{ secrets.PYPI_TOKEN }}
        run: poetry publish
